.Competences
    position: relative
    clip-path: polygon(0 15%, 100% 0%, 100% 95%, 0% 100%)
    height: auto
    width: 100%
    background: linear-gradient(-45deg, $secondary-light 0%, $secondary 150% )
    font-family: $font-primary
    color: $foreground
    padding: 60px 20px 30px 20px

    transition: all 1s
    &.hidden
        opacity: 0
        height: 0

    .content
        margin: 0 auto
        width: 80%
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-auto-rows: 80vh

        .item
            display: grid
            grid-template-rows: 1fr 3fr
            height: auto
            width: 90%
            margin: 20px auto 0 auto
            border: 1px solid #222
            border-radius: .28571429rem
            color: $black
            
            .head
                background-color: $background
                border-radius: .28571429rem .28571429rem 0 0
                border-bottom: 1px solid rgba(55,55,55,0.5)

                font-size: 2em

                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

            .itemContent
                overflow-y: scroll
                text-align: center
                width: 100%
                background-color: $background
                border-radius: 0 0 .28571429rem .28571429rem
                .icon
                    font-size: 5em
                p
                    font-size: 1.2em
                div
                    padding: 10px
                    &.html
                        &:hover
                            background-color: rgba(#52f57a, 0.3)


@media screen and (max-width: 770px)
    .Competences
        padding: 210px 20px 80px 20px
        .content
            grid-template-rows: repeat(3 70vh)
            grid-template-columns: 1fr
            .item
                .head
                .itemContent